.boxes
{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.box
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #e3e3e3;
    padding: 20px;
    margin-bottom: 30px;
}
.newsNoticeWrapper .newsContent
{
    padding-left: 20px;
    padding-top: 20px;
    justify-content: center;
    vertical-align: middle;
    margin:auto 0;
    
}
.newsNoticeWrapper .desc a
  {
      background: #042864;
      border-radius: 5px;
      color: white;
      width: 106px;
      border: none;
      padding: 5px 15px;
      
      
  }
  .newsNoticeWrapper .desc p
  {
      padding-bottom: 20px;
  }
  .newsNoticeWrapper .desc
  {
      padding-bottom: 0px;
      display: grid;
      grid-column: 1/3;
      padding-top: 10px;
  }
  .newsNoticeWrapper .imageNews img
  {
      height: auto;
      width: 100%;
  }
  .newsNoticeWrapper .newsContent h3
  {
      font-size: 22px;
  }


@media only screen and (max-width: 1000px) 
{
    .box
    {
        display: grid;
        grid-template-columns: 1fr;
        background: #e3e3e3;
        padding: 20px;
        margin-bottom: 30px;
    }
    .newsNoticeWrapper .desc
  {
      padding-bottom: 0px;
      display: grid;
      grid-column: 1;
      padding-top: 10px;
  }
}

